<?xml version="1.0" encoding="<$MTPublishCharset$>"?>
<rss version="2.0">
   <channel>
      <title><$MTBlogName remove_html="1" encode_xml="1"$></title>
      <link><$MTBlogURL$></link>
      <description><$MTBlogDescription remove_html="1" encode_xml="1"$></description>
      <language>en-us</language>
      <lastBuildDate><MTEntries lastn="1"><MTEntryDate format="%a, %d %b %Y %H:%M:%S " language="en"><MTBlogTimezone no_colon="1"></MTEntries></lastBuildDate>
      <pubDate><MTEntries lastn="1"><MTEntryDate format="%a, %d %b %Y %H:%M:%S " language="en"><MTBlogTimezone no_colon="1"></MTEntries></pubDate>
      <generator>http://www.movabletype.org/?v=<$MTVersion$></generator>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
<MTEntries lastn="15">
      <item>
         <title><$MTEntryTitle remove_html="1" encode_xml="1"$></title>
         <link><$MTEntryPermalink encode_xml="1"$></link>
         <description><$MTEntryExcerpt encode_xml="1"$></description>
         <guid><$MTEntryPermalink encode_xml="1"$></guid>
         <category><$MTEntryCategory remove_html="1" encode_xml="1"$></category>
         <pubDate><MTEntryDate format="%a, %d %b %Y %H:%M:%S " language="en"><MTBlogTimezone no_colon="1"></pubDate>
      </item>
</MTEntries>
   </channel>
</rss>