<?xml version="1.0" encoding="iso-8859-1"?>

<rdf:RDF
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
  xmlns:admin="http://webns.net/mvcb/"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns="http://purl.org/rss/1.0/">

  <channel rdf:about="<$MTBlogURL$>">
    <title><$MTBlogName encode_xml="1"$></title>
    <link><$MTBlogURL$></link>
    <description><$MTBlogDescription encode_xml="1"$></description>
    <dc:language>en-us</dc:language>
    <dc:creator><MTEntries lastn="1"><$MTEntryAuthor encode_xml="1"$></MTEntries></dc:creator>
    <dc:date><MTEntries lastn="1"><$MTEntryDate format="%Y-%m-%dT%H:%M:%S"$><$MTBlogTimezone$></MTEntries></dc:date>
    <admin:generatorAgent rdf:resource="http://www.movabletype.org/?v=<$MTVersion$>" />
    <admin:errorReportsTo rdf:resource="mailto:<MTEntries lastn="1"><$MTEntryAuthorEmail$></MTEntries>"/>
    <sy:updatePeriod>hourly</sy:updatePeriod>
    <sy:updateFrequency>1</sy:updateFrequency>
    <sy:updateBase>2000-01-01T12:00+00:00</sy:updateBase>
    <items>
      <rdf:Seq>
<MTEntries lastn="15">
        <rdf:li rdf:resource="<$MTEntryLink encode_xml="1"$>" />
</MTEntries>
      </rdf:Seq>
    </items>
  </channel>

<MTEntries lastn="15">
  <item rdf:about="<$MTEntryLink encode_xml="1"$>">
    <title><$MTEntryTitle encode_xml="1"$></title>
    <description><$MTEntryExcerpt encode_xml="1"$></description>
    <content:encoded><![CDATA[<$MTEntryBody$>]]></content:encoded>
    <link><$MTEntryLink encode_xml="1"$></link>
    <dc:subject><$MTEntryCategory encode_xml="1"$></dc:subject>
    <dc:creator><$MTEntryAuthor encode_xml="1"$></dc:creator>
    <dc:date><$MTEntryDate format="%Y-%m-%dT%H:%M:%S"$><$MTBlogTimezone$></dc:date>
  </item>
</MTEntries>

</rdf:RDF>

