<div class="centered">
<address>Copyright &copy; 2002-9
<a href="https://www.intertwingly.net/blog/">Sam Ruby</a>, 
Mark Pilgrim,
<a href="https://kafsemo.org/">Joseph Walton</a>, and
<a href="http://weblog.philringnalda.com/">Phil Ringnalda</a>
</address>
</div>
</body>
</html>
