<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>%(title)s</title>
<style media="screen">@import "%(CSSURL)s/common.css";
@import "%(CSSURL)s/validator.css";</style>
<script><!-- --></script>
<link rel="home" href="./" title="Home" />
</head>
<body>

<div id="logo">
<h1><span id="feed"><span id="f">F</span><span id="e1">E</span><span id="e2">E</span><span id="d">D</span></span> Validator</h1>
<p>for Atom and RSS and KML</p>
<a class="skip" href="#startnavigation">Jump to navigation</a>
</div> <!--logo-->

