<?xml version="1.0" encoding="UTF-8"?>
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
<soap:Body>
<response xmlns="http://feedvalidator.org/">
%(body)s
</response>
</soap:Body>
</soap:Envelope>
